.categoryTitle {
  font-family: sans-serif;
  font-size: 1rem;
  color: rgb(123, 125, 128);
  margin: 20px auto;
}

.categoryIcon:hover {
  background-color: rgb(230, 227, 227);
  border-radius: 5px;
  cursor: pointer;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryIndividual {
  margin-bottom: 30px;
}

.emojis {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 30px);
  grid-template-rows: repeat(auto, 30px);
}
